<h2>Create an Author</h2>

<!--display error validation errors to user at top-->
<% if @author.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!--display form - highlighting any fields in error-->
<%= form_tag authors_path, method: "post" do %>
  <div class="field<%= ' field_with_errors' if @author.errors[:name].any? %>">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name", @author.name %>
  </div>
  <div class="field<%= ' field_with_errors' if @author.errors[:email].any? %>">
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email", @author.email %>
  </div>
  <%= submit_tag "Create Author" %>
<% end %>
