<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%= params[:name]  %></h1>
   <p>Coach: <%= params[:coach] %></p>
   <p>Point Guard: <%= params[:pg] %></p>
   <p>Shooting Guard: <%= params[:sg] %></p>
   <p>Power Forward: <%= params[:pf] %></p>
   <p>Center: <%= params[:c] %></p>
 </body>
</html>
