<!--display errors-->
<% if post.errors.any? %>
	<div id="error_explanation">
		<h3>There were some errors:</h3>
		<ul>
			<% post.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(post) do |f| %>
	<%= f.label :title, 'Title' %>
	<%= f.text_field :title %><br><br>

	<%= f.label :content, 'Content' %>
	<%= f.text_field :content %><br><br>

	<%= f.label :category_id, 'Category' %>
	<%= f.text_field :category_id %><br><br>

	<%= f.submit %>
<% end %>