<!--display errors-->
<% if post.errors.any? %>
	<div id="error_explanation">
		<h3>There were some errors:</h3>
		<ul>
			<% post.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(post) do |f| %>
	<%= f.label :title, 'Title' %>
	<%= f.text_field :title %><br><br>

	<%= f.label :content, 'Content' %>
	<%= f.text_area :content %><br><br>

	<!--add a datalist that allows users to select a category from a drop down, or define their own-->
	<%= f.label :category_name, 'Category' %>
	<%= f.text_field :category_name, list: 'categories_autocomplete' %>
	<datalist>
		<% Category.all.each do |category| %>
			<option value="<%= category.name %>"></option>
		<% end %>
	</datalist>
	<br><br>

	<%= f.submit %>
<% end %>