<!-- <li class="<%# 'completed' if item.complete? %>"> -->
<li class="<%= li_class_for_item(item) %>">
  <div class="view">
    <!-- <form class="" action="<%# lists_path %>" method="get">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
      <input class="toggle" type="checkbox" <%= "checked='checked'" if item.complete? %>>
    </form> -->

    <!-- complete toggle -->
    <%= form_for(item, url: list_item_path(list, item)) do |f| %>
      <!-- <input class="toggle" type="checkbox" <%# "checked='checked'" if item.complete? %>> -->
      <%= f.check_box :status, class: 'toggle', checked: item.complete? %>
    <% end %>

    <!-- item description -->
    <label><%= item.description %></label>

    <!-- delete item -->
    <%# form_for(item, url: list_item_path(list, item), method: 'delete') do |f| %>

    <%# end %>

    <form action="<%= list_item_path(list, item) %>" method="post">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
      <input type="hidden" name="_method" value="delete">
      <button class="destroy" type="submit"></button>
    </form>
  </div>
</li>
