<section class="todoapp">
  <%= render partial: 'lists/header_list', locals: {item: @item, list: @list} %>
	<section class="main" style="display: block;">
		<%= render 'lists/toggle' %>
		<ul class="todo-list">
      <% if @list.items.count > 0 %>
        <% @list.items.each do |item| %>
          <%= render partial: 'lists/list_item', locals: {item: item} unless !item.id %>
        <% end %>
      <% else %>
        <%= render 'lists/list_item_blank'  %>
      <% end %>
    </ul>
	</section>
  <%= render 'lists/footer'%>
</section>
