<section class="todoapp">
  <%= render 'header_list'%>
	<section class="main" style="display: block;">
		<%= render 'toggle' %>
		<ul class="todo-list">
      <% if @list.items.count > 0 %>
        <% @list.items.each do |item| %>
          <%= render partial: 'list_item', locals: {item: item} %>
        <% end %>
      <% else %>
        <%= render 'list_item_blank'  %>
      <% end %>
    </ul>
	</section>
  <%= render 'footer'%>
</section>
