<h1>Songs</h1>

<p><%= link_to 'Add a Song', new_song_path %></p>
<table>
  <tbody>
    <tr>
      <th>Title</th>
      <th>Year Released</th>
      <th>Artist</th>
      <th>Genre</th>
    </tr>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song_path(song) %></td>
        <td><%= song.release_year%></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td>
          <%= button_to "Delete", song, method: :delete, data: { confirm: "Really?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
