
<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>

<ul>
  <% @members.each do |member| %>
    <li>
      <h2>Hero Name: <%= member.name %></h2>
      <p>Hero Power: <%= member.power %></p>
      <p>Hero Biography: <%= member.bio %></p>
    </li>
  <% end %>
</ul>
