<h1>Blog Posts!</h1>

<!-- kaminari helper methods -->
<%= paginate @posts %><br>
<%= page_entries_info @posts %>

<% @posts.each do |post| %>
  <div>
    <p><%= link_to post.title, post_path(post) %><br>
    by: <%= post.author.name %></p>
    <p><%= post.description %></p>
  </div>
<% end %>

<!-- display one page to either side -->
<%= paginate @posts, window: 1 %>
