<h1>Pirate</h1>
<div>
  <p>Pirate name: <%= @pirate.name %></p>
  <p>Pirate weight: <%= @pirate.weight %></p>
  <p>Pirate height: <%= @pirate.height %></p>
</div><br />

<% if !@pirate.ships.empty? %>
  <h2>Ships</h2>
  <% @pirate.ships.each do |ship| %>
    <div class="ship">
      <p>Name: <%= ship.name %></p>
      <p>Type: <%= ship.category %></p>
      <p>Booty: <%= ship.booty %></p>
    </div><br />
  <% end %>
<% end %>
