<!DOCTYPE html>
<html>
<head>
  <title>LoginRequiredLab</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

  <% if current_user %>
    <!-- don't include a link for logouts -->
    <%= form_tag controller: 'sessions', action: 'destroy', method: 'post' do %>
      <input type="submit" value="Logout">
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
