<h1>Signup</h1>

<%= form_for @user, {url: users_new_path, method: 'post'} do |f| %>

	<%= f.label :name %><br>
	<%= f.text_field :name %><br><br>

	<%= f.label :height %><br>
	<%= f.text_field :height %><br><br>

	<%= f.label :happiness %><br>
	<%= f.text_field :happiness %><br><br>

	<%= f.label :nausea %><br>
	<%= f.text_field :nausea %><br><br>

	<%= f.label :tickets %><br>
	<%= f.text_field :tickets %><br><br>

	<%= f.label :admin %>
	<%= f.check_box :admin %><br><br>

	<%= f.label :password	%><br>
	<%= f.text_field :password %><br><br>

	<%= f.submit 'Create User' %>
<% end %>