<h1>Amend Class Info</h1>

<%= form_for(@school_class) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :room_number %>
	<%= f.text_field :room_number %>

	<%= f.submit %>
<% end %>

<br>
<%= link_to 'Back', school_class_path(@school_class) %>