<h1>Posts listing</h1>

    <% @posts.each do |post| %>
        <p>
					<%= link_to post.name, post %>&nbsp;
					<%= link_to 'Edit', edit_post_path(post) %> |
					<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
				</p>
    <% end %>

<br>
<%= link_to 'Create Post', new_post_path %> |
<%= link_to 'View tags', tags_path %> |
<%= link_to 'View users', users_path %>