<h1>Students List</h1>

<%= form_tag(students_path, method: "get", id: 'search-form') do %>
	<%= text_field_tag(:search, params[:search], placeholder: 'Search students') %>
	<%= submit_tag "Search", name: nil %>
<% end %>

<%# @students.each do |student| %>
	<%#= render partial: 'student', locals: {student: student} %>
<%# end %>

<!--render collection with a partial-->
<%= render(@students) || 'No students were found' %>

<br>
<%= link_to 'Classrooms', classrooms_path %>