<h1>Amend Student Record</h1>

<%= form_for(@student) do |f| %>
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

	<%= f.submit %>
<% end %>

<br>
<%= link_to 'Back', student_path(@student) %>