<h2>Edit <%= @author.name %></h2>
<%= form_tag authors_path, method: "post" do %>

  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field <%= 'field_with_errors' if @author.errors[:name].any? %>">
    <%= label_tag "name", "Name" %>
    <p>Name can not be blank</p>
    <%= text_field_tag "name", @author.name %>
  </div>

  <div class="field <%= 'field_with_errors' if @author.errors[:email].any? %>">
    <%= label_tag "email", "Email" %>
    <p>Email address must be unique</p>
    <%= text_field_tag "email", @author.email %>
  </div>

  <div class="field <%= 'field_with_errors' if @author.errors[:phone_number].any? %>">
    <%= label_tag "phone_number", "Phone Number" %>
    <p>Phone number must be 10 digits exactly</p>
    <%= text_field_tag "phone_number", @author.phone_number %>
  </div>

  <%= submit_tag "Create" %>
<% end %>
